#install packages using: pip install -r requirements.txt
#en_core_web_sm==2.3.0 (python -m spacy download)
#nl_core_news_sm==2.3.0 (python -m spacy download)
requests==2.22.0
spacy==2.3.0
pandas==0.25.1
nltk==3.4.5
gunicorn
flask
flask_restful
ftfy
